* {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 250px;
}

figure {
    width: min-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

figcaption {
    text-align: center;
}

ul {
    text-align: start;
    padding: 10px;
}

svg{
    cursor: pointer;
}